.icon
  display: inline-block
  position: relative
  font-size: 0
  text-align: center
  &:before
    content: ""
    position: relative
    display: inline-block
    vertical-align: inherit

.icon_search
  &:before
    +icon(search)

.icon_mail
  &:before
    +icon(mail)

.icon_mail-red
  &:before
    +icon(mail-red)

.icon_arr-l
  &:before
    +icon(arr-l)

.icon_arr-r
  &:before
    +icon(arr-r)

.icon_calendar-blue
  &:before
    +icon(calendar-blue)

.icon_close
  +icon(close)
  &:hover
    +icon(close-h)

.icon_back
  +icon(arr-l-dark)
  &:hover
    +icon(arr-l-red)


.wrap
  position: relative
  +clr

.title
  display: block
  +head-b
  font-size: 30px
  line-height: 1
  a
    text-decoration: underline
    +tr-color
    &:hover
      color: $red
  &.has-border
    display: inline-block
    padding-bottom: 29px
    border-bottom: 1px solid $border
  +r(600)
    font-size: 20px

.title-small
  display: inline-block
  +head-c
  font-size: 26px
  line-height: 1.1
  +r(600)
    font-size: 18px


.link-more
  color: $link
  font-style: italic


.list
  li
    margin-top: 20px
    line-height: 1.35
  a
    padding-top: 3px

.meta
  display: block
  margin-top: 5px
  font: italic 12px/1.4 Helvetica, Arial, sans-serif
  color: $meta

.btn
  padding: 19px 30px 21px
  +head-r
  font-size: 16px
  box-sizing: border-box
  color: white
  text-align: center
  background: #15395a
  border: none
  +tr-all
  &_light
    background: none
    color: $link
    border: 1px solid $border
    &:hover
      color: $red

.radio-btn
  display: inline-block
  position: relative
  padding-left: 40px
  cursor: pointer
  input[type="radio"]
    position: absolute
    top: 4px
    left: 0
    opacity: 0
  span
    display: inline-block
    &:before
      content: ""
      position: absolute
      top: 4px
      left: 0
      width: 12px
      height: 12px
      border: 1px solid $border
      border-radius: 50%
    &:after
      display: none
      content: ""
      position: absolute
      top: 9px
      left: 5px
      width: 4px
      height: 4px
      border-radius: 50%
      background: $text
  input[type="radio"]:checked
    + span:after
      display: block

.eq-ie8 .radio-btn
  span
    &:before, &:after
      display: none