.header
  position: relative
  height: 60px
  line-height: 60px
  +clr
  .title
    display: inline-block
    font-size: 40px
    line-height: 60px
  &:before
    content: ""
    position: absolute
    z-index: 2
    top: 0
    left: -65px
    height: 20px
    width: 3px
    background: $blue
    border-top: 20px solid #d9d9d9
    border-bottom: 20px solid $red
  +r(1100)
    &:before
      left: -20px
    .header__calendar
      position: static
      float: right
      width: 58px
      height: 60px
      border-width: 0 1px 0 1px
      margin-left: 30px

.header__links
  float: right
  +head-r
  a
    display: inline-block
    vertical-align: middle
    color: $link
  .icon_mail-red
    margin-right: 15px

.header__calendar
  display: block
  position: absolute
  top: 100%
  right: -65px
  text-align: center
  width: 64px
  height: 64px
  border: 1px solid $border
  line-height: 1.5
  &:hover
    text-decoration: none
  .icon
    display: block
    margin-top: 18px
    text-align: center
  span
    display: block
    text-align: center
    font-size: 10px
    text-transform: uppercase
    +head-r
    color: $red

.footer
  padding: 21px 0
  font-size: 14px
  line-height: 1.3
  .l
    background: none


.slider
  width: percentage(610/955)
  height: 360px
  overflow: hidden
  position: relative

.slider__slide
  width: 100%
  height: 360px
  position: relative
  img
    display: block
    height: 100%
  > a
    display: block

.slider__slide-caption
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  box-sizing: border-box
  min-height: 60px
  line-height: 60px
  padding: 10px 145px 10px 25px
  background: #000000
  background: rgba(0,0,0,0.6)
  color: #FFF
  text-shadow: 0 -1px 3px #051727
  +head-c
  font-size: 19px
  line-height: 1
  strong
    font-weight: normal


.slider__nav
  position: absolute
  z-index: 101
  bottom: 0
  right: 0
  +clr

.slider__prev,
.slider__next
  float: left
  width: 60px
  height: 60px
  line-height: 60px
  text-align: center
  background: $red
  +user-select(none)
  cursor: pointer
  +tr-back
  &:hover
    background: $blue
  .icon
    vertical-align: middle


.speech
  position: absolute
  padding: 20px 20px 0 30px
  box-sizing: border-box
  top: 0
  right: 0
  bottom: 0
  width: percentage(345/955)
  border: 1px solid $border
  border-width: 1px 1px 1px 0
  overflow: hidden
  blockquote
    position: relative
    z-index: 2
    padding: 90px 20px 0 0
    +head-i
    font-size: 16px
    line-height: 1.5
    a
      padding-top: 6px
      +head-i

    &:before
      content: ""
      position: absolute
      top: 20px
      left: 0
      +icon(quote-big)
    &:after
      content: ""
      position: absolute
      bottom: 4px
      right: 0
      +icon(quote)
  .title
    position: relative
    z-index: 2
    display: inline-block
    padding-bottom: 18px
    border-bottom: 1px solid $border
    font-size: 30px
    line-height: 1

.speech__pic
  position: absolute
  z-index: 1
  top: 18px
  right: 0
  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    background: url('../img/face-overlay.png')
    width: 210px
    height: 265px


.links
  padding: 25px 0 30px
  color: $link
  text-align: right
  +head-r
  li
    display: inline-block
    vertical-align: top
    margin-left: 25px
    &:first-child
      margin-left: 0
  &_big
    text-align: center
    font-size: 0
    li
      width: 33.33%
      margin: 0

.teaser
  padding-top: 25px
  &_reference
    background: $lightblue
    padding: 25px
    a
      color: $link
    .list
      li
        margin-top: 12px
        &:first-child
          margin-top: 20px
    .title-small
      display: block


.map

.map__header
  padding: 25px 0
  .title
    vertical-align: middle
    margin-right: 30px

.map__tabs
  display: inline-block
  vertical-align: middle
  li
    display: inline-block
    margin-left: 15px
    color: $link
    border-bottom: 1px dotted
    a
      text-decoration: none
    &:first-child
      margin-left: 0
    &.is-active
      color: $text
      border: none

.map__container
  background: #E5E4E3
  +clr

.map__container-left
  position: relative
  float: left
  width: percentage(640/955)
  padding: 30px
  box-sizing: border-box
  +vertical

.map__container-right
  position: relative
  float: right
  width: percentage(315/955)
  padding: 30px 30px 30px 0
  box-sizing: border-box

.map__object
  display: inline-block
  vertical-align: middle
  font-size: 16px

.map__regions

.map__region
  position: relative
  padding-left: 60px
  line-height: 30px
  border: 1px solid
  border-color: #E5E4E3
  border-color: transparent
  cursor: pointer
  +tr-all
  span
    display: inline-block
    line-height: 1.1
  &:hover
    border-color: $border
    color: $link

.map__object
  svg
    path:hover
      fill: #A29795

.map__region-flag
  position: absolute
  top: 50%
  left: 25px
  width: 25px
  height: 17px
  margin-top: -8px
  background-repeat: no-repeat
  background-position: 50% 50%

.map__tooltip
  position: fixed
  z-index: 100
  padding: 5px
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
  font-size: 16px

.map__info-popup
  position: absolute
  top: 90px
  left: 10px
  right: 10px
  margin: auto
  max-width: 460px
  max-height: 365px
  overflow: auto
  padding: 25px 35px
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
  font-size: 16px
  text-align: left
  .icon_close
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
  p
    margin-bottom: 10px
    strong, b
    +sans-b
  ul
    list-style-type: disc
    padding-left: 30px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

.map__region-about
  +head-i
  dl
    margin: 20px 0
    line-height: 1.4
    dd
      color: $red
  p
    margin: 10px 0
  table
    margin: 10px 0
    caption
      text-align: left
      margin-bottom: 3px
    td
      text-align: right
      &:first-child
        text-align: left
  .title-small
    font-size: 30px
    white-space: nowrap
    a
      display: inline-block
      text-decoration: none
      white-space: normal
  .icon_back
    margin-right: 10px
    line-height: 33px
  .link-more
    font-style: normal

.map__region-about-logos
  margin: 30px
  img
    display: inline-block
    vertical-align: middle
    & + img
      margin-left: 20px

.map__region-about-facts
  font-size: 11px
  line-height: 1.35


.poll
  padding-top: 25px
  .btn
    width: 100%
    margin-top: 30px

.poll__archive
  display: inline-block
  float: right
  margin-top: 10px
  color: $link

.poll__question
  +head-i
  color: $meta
  line-height: 1.5
  margin: 20px 0

.poll__answers
  color: $link
  line-height: 1.35
  li
    margin-top: 20px
  label
    display: block
    position: relative
    padding-left: 40px
    cursor: pointer
  input[type="radio"]
    position: absolute
    top: 4px
    left: 0

.poll__results
  padding-left: 20px
  line-height: 1.35
  list-style-type: disc
  li
    position: relative
    margin-top: 20px
    padding-right: 50px
  .percent
    position: absolute
    top: 0
    right: 0
    color: $red
