.header
  position: relative
  height: 60px
  line-height: 60px
  +clr
  .title
    display: inline-block
    font-size: 40px
    line-height: inherit
  +r(1100)
    padding-right: 80px
  +r(850)
    height: auto
    line-height: 1.35
    margin-bottom: 20px
    .title
      display: block
      line-height: 1
      padding: 5px 0
  +r(600)
    padding-right: 0
    .title
      font-size: 30px

.header_border
  &:before
    content: ""
    position: absolute
    bottom: -1px
    left: 0
    right: 0
    height: 1px
    background: $border
    margin: 0 -60px
  +r(1100)
    &:before
      margin: 0 -20px
  +r(850)
    padding-bottom: 10px

.header_user
  padding-right: 20px
  +r(1100)
    padding-right: 120px
    .header__calendar
      right: 40px
  +r(600)
    padding-right: 0

.header__flag
  position: absolute
  top: 0
  left: -60px
  width: 3px
  height: 100%
  background: $blue
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 33%
    background: #d9d9d9
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 33%
    background: $red
  +r(1100)
    left: -20px

.header__links
  display: inline-block
  float: right
  height: 60px
  font-size: 0
  +head-r
  a
    display: inline-block
    vertical-align: middle
    color: $link
    font-size: 16px
  a + a
    margin-left: 10px
  .icon_mail-red
    margin-right: 15px
    line-height: 1
  +r(850)
    float: none
    height: auto

.header__calendar
  display: block
  position: absolute
  top: 100%
  right: -61px
  text-align: center
  width: 60px
  height: 60px
  border: 1px solid $border
  line-height: 1.5
  &:hover
    text-decoration: none
  .icon
    display: block
    margin-top: 18px
    text-align: center
  span
    display: block
    text-align: center
    font-size: 10px
    text-transform: uppercase
    +head-r
    color: $red
  +r(1100)
    top: -1px
    right: 0
    width: 60px
    height: 60px
  +r(600)
    display: none

.header__user-pic
  display: block
  position: absolute
  top: -1px
  right: -61px
  width: 60px
  height: 60px
  border: 1px solid $border
  overflow: hidden
  img
    display: block
  +r(1100)
    right: -20px
  +r(600)
    display: none

.footer
  padding: 21px 0
  font-size: 14px
  line-height: 1.3
  +r(600)
    .float-left
      float: none
    .float-right
      float: none


.slider
  width: percentage(610/955)
  height: 360px
  overflow: hidden
  position: relative
  +r(900)
    width: 100%
    max-width: 610px
    margin: 0 auto

.slider__list
  width: 100%
  height: 100%

.slider__slide
  display: block
  width: 100%
  height: 360px
  position: relative
  overflow: hidden
  img
    display: block
    height: 100%
    margin: 0 auto
  // > a
  //   display: block
  //   position: absolute
  //   top: 0
  //   left: 50%
  //   width: 2000px
  //   height: 100%
  //   margin-left: -1000px

.slider__slide-pic
  position: absolute
  top: 0
  left: 50%
  width: 2000px
  height: 100%
  margin-left: -1000px

.slider__slide-caption
  position: absolute
  left: 0
  bottom: 0
  right: 0
  box-sizing: border-box
  min-height: 60px
  line-height: 60px
  padding: 10px 145px 10px 25px
  background: #000000
  background: rgba(0,0,0,0.6)
  color: #FFF
  text-shadow: 0 -1px 3px #051727
  +head-c
  font-size: 19px
  line-height: 1
  strong
    font-weight: normal
  +r(600)
    font-size: 16px


.slider__nav
  position: absolute
  z-index: 101
  bottom: 0
  right: 0
  +clr

.slider__prev,
.slider__next
  float: left
  width: 60px
  height: 60px
  line-height: 60px
  text-align: center
  background: $red
  +user-select(none)
  cursor: pointer
  +tr-back
  &:hover
    background: $blue
  .icon
    vertical-align: middle


.speech
  position: absolute
  padding: 20px 20px 0 30px
  box-sizing: border-box
  top: 0
  right: 0
  bottom: 0
  width: percentage(345/955)
  border: 1px solid $border
  border-width: 1px 1px 1px 0
  overflow: hidden
  blockquote
    position: relative
    z-index: 2
    padding: 90px 20px 0 0
    +head-i
    font-size: 16px
    line-height: 1.5
    a
      padding-top: 6px
      +head-i
    &:before
      content: ""
      position: absolute
      top: 20px
      left: 0
      +icon(quote-big)
    &:after
      content: ""
      position: absolute
      bottom: 4px
      right: 0
      +icon(quote)
  .title
    position: relative
    z-index: 2
    display: inline-block
    padding-bottom: 18px
    border-bottom: 1px solid $border
    font-size: 30px
    line-height: 1
  +r(900)
    position: relative
    width: 100%
    padding: 15px
    border-width: 1px
    margin-top: 20px

.speech__pic
  position: absolute
  z-index: 1
  top: 18px
  right: 0
  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    background: url('../img/face-overlay.png')
    width: 210px
    height: 265px


.links
  padding: 25px 0 30px
  color: $link
  text-align: right
  +head-r
  li
    display: inline-block
    vertical-align: top
    margin-left: 25px
    &:first-child
      margin-left: 0
  +r(500)
    text-align: left
    li
      float: none
      display: block
      margin: 10px 0 0
      &:first-child
        margin-top: 0
  &_big
    text-align: center
    font-size: 0
    li
      width: 33.33%
      margin: 0
    +r(600)
      li
        display: block
        width: 100%
        margin-top: 10px
        text-align: left
        &:first-child
          margin-top: 0

.teaser
  padding-top: 25px
  &_reference
    background: $lightblue
    padding: 25px
    a
      color: $link
    .list
      li
        margin-top: 12px
        &:first-child
          margin-top: 20px
    .title-small
      display: block
      margin-top: 20px


.map
  +r(500)
    display: none

.map__header
  padding: 25px 0
  .title
    vertical-align: middle
    margin-right: 30px

.map__tabs
  display: inline-block
  vertical-align: middle
  li
    display: inline-block
    margin-left: 15px
    color: $link
    border-bottom: 1px dotted
    a
      text-decoration: none
    &:first-child
      margin-left: 0
    &.is-active
      color: $text
      border: none

.map__container
  background: #E5E4E3
  +clr
  +r(600)
    margin-left: -20px
    margin-right: -20px

.map__container-left
  position: relative
  float: left
  width: percentage(640/955)
  padding: 30px
  box-sizing: border-box
  +vertical
  +r(800)
    padding: 15px

.map__container-right
  position: relative
  float: right
  width: percentage(315/955)
  padding: 30px 30px 30px 0
  box-sizing: border-box
  +r(800)
    padding: 15px 15px 15px 0

.map__object
  display: inline-block
  vertical-align: middle
  font-size: 16px

.map__regions

.map__region
  position: relative
  padding-left: 60px
  line-height: 30px
  border: 1px solid
  border-color: #E5E4E3
  border-color: transparent
  cursor: pointer
  +tr-all
  span
    display: inline-block
    line-height: 1.1
  &:hover
    border-color: $border
    color: $link

.map__object
  svg
    path:hover
      fill: #A29795

.map__region-flag
  position: absolute
  top: 50%
  left: 25px
  width: 25px
  height: 17px
  margin-top: -8px
  background-repeat: no-repeat
  background-position: 50% 50%

.map__tooltip
  position: fixed
  z-index: 100
  padding: 5px
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
  font-size: 16px

.map__info-popup
  position: absolute
  top: 90px
  left: 10px
  right: 10px
  margin: auto
  max-width: 460px
  max-height: 365px
  overflow: auto
  padding: 25px 35px
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
  font-size: 16px
  text-align: left
  .icon_close
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
  p
    margin-bottom: 10px
    strong, b
    +sans-b
  ul
    list-style-type: disc
    padding-left: 30px
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

.map__region-about
  +head-i
  dl
    margin: 20px 0
    line-height: 1.4
    dd
      color: $red
  p
    margin: 10px 0
  table
    margin: 10px 0
    caption
      text-align: left
      margin-bottom: 3px
    td
      text-align: right
      &:first-child
        text-align: left
  .title-small
    font-size: 30px
    white-space: nowrap
    a
      display: inline-block
      text-decoration: none
      white-space: normal
  .icon_back
    margin-right: 10px
    line-height: 33px
  .link-more
    font-style: normal

.map__region-about-logos
  margin: 30px
  img
    display: inline-block
    vertical-align: middle
    & + img
      margin-left: 20px

.map__region-about-facts
  font-size: 11px
  line-height: 1.35


.poll
  padding-top: 25px
  .btn
    width: 100%
    margin-top: 30px

.poll__archive
  display: inline-block
  float: right
  margin-top: 10px
  color: $link
  +r(600)
    margin-top: 0

.poll__question
  +head-i
  color: $meta
  line-height: 1.5
  margin: 20px 0

.poll__answers
  color: $link
  line-height: 1.35
  li
    margin-top: 20px

.poll__results
  padding-left: 20px
  line-height: 1.35
  list-style-type: disc
  li
    position: relative
    margin-top: 20px
    padding-right: 50px
  .percent
    position: absolute
    top: 0
    right: 0
    color: $red


.carousel
  position: relative
  margin-top: 60px
  +r(1100)
    margin-left: 20px
    margin-right: 20px
  +r(750)
    display: none

.carousel__slides
  overflow: hidden
  font-size: 0
  height: 66px
  margin: 0
  +clr
  li
    display: inline-block
    vertical-align: middle
    width: 25%
    box-sizing: border-box
    font-size: 16px
    line-height: 66px
    a
      color: $text
    img
      display: inline-block
      vertical-align: middle
      max-width: percentage(80/238)
      padding-right: percentage(14/238)
      box-sizing: border-box
      max-height: 66px
    span
      width: percentage(155/238)
      display: inline-block
      vertical-align: middle
      margin-left: -4px
      font-size: 16px
      line-height: 1.2
      &:hover
        text-decoration: underline

.carousel__prev,
.carousel__next
  position: absolute
  top: 0
  bottom: 0
  width: 60px
  text-align: center
  cursor: pointer
  +user-select(none)
  +r(1100)
    width: 40px
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin: auto
    margin-top: -8px
.carousel__prev
  left: -60px
  &:before
    +icon(arr-l-blue)
  &:hover
    &:before
      +icon(arr-l-red)
  &.is-inactive, &.slick-disabled
    cursor: default
    &:before
      +icon(arr-l-gray)
  +r(1100)
    left: -40px
.carousel__next
  right: -60px
  &:before
    +icon(arr-r-blue)
  &:hover
    &:before
      +icon(arr-r-red)
  &.is-inactive, &.slick-disabled
    cursor: default
    &:before
      +icon(arr-r-gray)
  +r(1100)
    right: -40px


.toparea
  padding: percentage(30/953)
  margin-bottom: 30px
  +clr
  border: 1px solid $border
  .entry
    float: left
    width: percentage(278/895)
    box-sizing: border-box
    padding: 0
    margin: 0 0 0 percentage(30/893)
    border: none
    &:first-child
      margin-left: 0
    .meta
      display: block
      margin: 10px 0
  +r(600)
    .entry
      float: none
      width: auto
      margin: 30px 0 0 0
      &:first-child
        margin-top: 0
  &_simple
    padding: 0
    border: none
    & + .link-more
      display: inline-block
      font-size: 14px


.checkbox-list
  padding: 0 15px
  li
    margin-top: 15px


.cabinet
  padding-bottom: 35px
  border-bottom: 1px solid $border
  +clr
  .input
    max-width: 350px
  hr
    margin: 30px 0

.cabinet__header
  line-height: 60px
  +clr
  .title
    display: inline-block
    vertical-align: middle
    line-height: inherit
  +r(800)
    line-height: 1.1
    margin-bottom: 30px

.cabinet__header-links
  float: right
  margin-right: 30px
  li
    display: inline-block
    vertical-align: middle
    margin-left: 10px
  +r(800)
    float: none
    margin: 0
    li
      display: block
      margin: 5px 0 0

.cabinet__left
  float: left
  // width: percentage(175/955)
  width: 175px
  +r(800)
    width: 220px
  +r(550)
    float: none
    width: auto

.cabinet__center
  float: left
  width: 100%
  margin-left: -175px
  // width: percentage(560/955)
  // padding: 0 percentage(30/955)
  box-sizing: border-box
  +r(800)
    float: right
    margin-left: -220px
  +r(550)
    float: none
    width: auto
    margin: 25px 0 0 0

.cabinet__center-in
  box-sizing: border-box
  // margin-left: percentage(175/955)
  margin-left: 175px
  // margin-right: percentage(220/955)
  margin-right: 220px
  padding: 0 percentage(30/955)
  +r(800)
    margin-left: 220px
    margin-right: 0
  +r(550)
    margin: 0
    padding: 0

.cabinet__right
  float: right
  // width: percentage(220/955)
  width: 220px
  margin-left: -220px
  +r(800)
    float: left
    clear: left
    margin-left: 0
  +r(550)
    float: none
    width: auto
    margin: 25px 0 0

.cabinet__user-photo
  max-width: 175px
  margin: auto

.cabinet__user-photo-in
  position: relative
  padding-bottom: 119%
  box-sizing: border-box
  border: 1px solid $border
  overflow: hidden
  img
    position: absolute
    top: 0
    left: 0
    max-width: 100%



