extends layouts/_layout

block title
  title Authority Opinion

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li.is-active
        a(href="#")
          | Авторитетное <br> мнение
      li
        a(href="#")
          | Основные <br> сведения
      li
        a(href="#")
          | Социально-<br>экономическая <br> деятельность
      li
        a(href="#")
          | Демографическая <br> политка
      li
        a(href="#")
          | Регионы <br> ЦФО
      li
        a(href="#")
          | Структура и <br> аппарат
      li
        a(href="#")
          | Инвестиционный <br> уполномоченный
      li
        a(href="#")
          | Совет Федерации <br> и Государственная <br> Дума
  //end nav-inner

  h1.title.title_head
    | Авторитетное мнение

  //begin accordion
  .accordion.accordion_opinion
    //begin opinion
    .accordion__section
      .accordion__header
        h2.title-small
          span
            | Выступление А.Беглова по вопросам готовности к весеннему половодью субъектов ЦФО
        span.meta
          | 17 января 2013 года, 15:32

      .opinion
        p
          | Выступление заместителя полномочного представителя Президента Российской
          | Федерации в Центральном федеральном округе Николая Овсиенко на внеочередном
          | заседании Коллегии при полномочном представителе Президента Российской Федерации
          | в Центральном федеральном округе по вопросам правоохранительной деятельности,
          | обороны и безопасности

      .accordion__content
        article.opinion
          strong
            | Вступительное слово на открытии заседания
          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ul
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ol
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          small
            em
              b
                | Для справки:

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной
                | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
                | акценты на совершенствование региональных законодательных баз, систем кадрового
                | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным

          p
            em
              | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
              | отношениям, где главной темой рассматривался вопрос реализации государственной
              | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
              | акценты на совершенствование региональных законодательных баз, систем кадрового
              | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          .opinion__footer
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  | Алесандр Дмитриевич Беглов
                dd.person__about
                  | Полномочный представитель Президента Российской Федерации в ЦФО

            .opinion__close
    //end opinion

    //begin opinion
    .accordion__section
      .accordion__header
        h2.title-small
          span
           | Зязиков видит роль России в обеспечении многополярности мира
        span.meta
          | 17 января 2013 года, 15:32

      .opinion
        p
          | Выступление заместителя полномочного представителя Президента Российской
          | Федерации в Центральном федеральном округе Николая Овсиенко на внеочередном

      .accordion__content
        article.opinion
          strong
            | Вступительное слово на открытии заседания

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ol
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          small
            em
              b
                | Для справки:

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной
                | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
                | акценты на совершенствование региональных законодательных баз, систем кадрового
                | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным

          p
            em
              | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
              | отношениям, где главной темой рассматривался вопрос реализации государственной
              | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
              | акценты на совершенствование региональных законодательных баз, систем кадрового
              | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          .opinion__footer
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  | Алесандр Дмитриевич Беглов
                dd.person__about
                  | Полномочный представитель Президента Российской Федерации в ЦФО

            .opinion__close
    //end opinion

    //begin opinion
    .accordion__section
      .accordion__header
        h2.title-small
          span
            | Зязиков видит роль России в обеспечении многополярности мира
            | Зязиков видит роль России в обеспечении многополярности мира
            | Зязиков видит роль России в обеспечении многополярности мира
        span.meta
          | 17 января 2013 года, 15:32

      .opinion
        p
          | Выступление заместителя полномочного представителя Президента Российской
          | Федерации в Центральном федеральном округе Николая Овсиенко на внеочередном

      .accordion__content
        article.opinion
          strong
            | Вступительное слово на открытии заседания

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ol
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          small
            em
              b
                | Для справки:

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной
                | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
                | акценты на совершенствование региональных законодательных баз, систем кадрового
                | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным

          p
            em
              | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
              | отношениям, где главной темой рассматривался вопрос реализации государственной
              | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
              | акценты на совершенствование региональных законодательных баз, систем кадрового
              | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          .opinion__footer
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  | Алесандр Дмитриевич Беглов
                dd.person__about
                  | Полномочный представитель Президента Российской Федерации в ЦФО

            .opinion__close
    //end opinion

    //begin opinion
    .accordion__section
      .accordion__header
        h2.title-small
          span
            | Выступление А.Беглова по вопросам готовности к весеннему половодью субъектов ЦФО
            | Выступление А.Беглова по вопросам готовности к весеннему половодью субъектов ЦФО
            | Выступление А.Беглова по вопросам готовности к весеннему половодью субъектов ЦФО
            | Выступление А.Беглова по вопросам готовности к весеннему половодью субъектов ЦФО
        span.meta
          | 17 января 2013 года, 15:32

      .opinion
        p
          | Выступление заместителя полномочного представителя Президента Российской
          | Федерации в Центральном федеральном округе Николая Овсиенко на внеочередном
          | заседании Коллегии при полномочном представителе Президента Российской Федерации
          | в Центральном федеральном округе по вопросам правоохранительной деятельности,
          | обороны и безопасности

      .accordion__content
        article.opinion
          strong
            | Вступительное слово на открытии заседания
          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ul
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          ol
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка
            li
              | Пункт списка с
              a(href="#")  ссылкой внутри

          p
            | Сегодня, по поручению полномочного представителя Президента Российской Федерации
            | в Центральном федеральном округе А.Д.Беглова, проводим внеочередное заседание
            | Коллегии при полномочном представителе Президента Российской Федерации в Центральном
            | федеральном округе по вопросам правоохранительной деятельности, обороны и безопасности.

          p
            | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
            | отношениям, где главной темой рассматривался вопрос реализации государственной
            | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
            | акценты на совершенствование региональных законодательных баз, систем кадрового
            | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          small
            em
              b
                | Для справки:

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
                | отношениям, где главной темой рассматривался вопрос реализации государственной
                | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
                | акценты на совершенствование региональных законодательных баз, систем кадрового
                | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

            p
              em
                | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным

          p
            em
              | Буквально на днях, Глава государства в г.Уфе провел заседание Совета по межнациональным
              | отношениям, где главной темой рассматривался вопрос реализации государственной
              | национальной политики в субъектах Российской Федерации.  Президентом были сделаны
              | акценты на совершенствование региональных законодательных баз, систем кадрового
              | обеспечения, этнологического мониторинга, социально-культурной адаптации и интеграции мигрантов.

          span.meta
            | Ключевые слова
            a(href="#")  федеральном,
            a(href="#")  представителя,
            a(href="#")  представитель

          .opinion__footer
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  | Алесандр Дмитриевич Беглов
                dd.person__about
                  | Полномочный представитель Президента Российской Федерации в ЦФО

            .opinion__close
    //end opinion
  //end accordion