extends layouts/_layout

block title
  title Demographics

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Авторитетное <br> мнение
      li
        a(href="#")
          | Основные <br> сведения
      li
        a(href="#")
          | Социально-<br>экономическая <br> деятельность
      li.is-active
        a(href="#")
          | Демографическая <br> политика
      li
        a(href="#")
          | Регионы <br> ЦФО
      li
        a(href="#")
          | Структура и <br> аппарат
      li
        a(href="#")
          | Инвестиционный <br> уполномоченный
      li
        a(href="#")
          | Совет Федерации <br> и Государственная <br> Дума
  //end nav-inner

  h1.title.title_head
    | Демографическая политика

  //begin table
  table.table
    caption Коеффициент рождаемости 2010 г.
    thead
      tr
        td Регион
        td Число родившихся на 1 тыс. населения
        td Соотношение с РФ, %
    tbody
      tr
        td
          em РФ в целом
        td 12,6
        td -
      tr
        td
          em Центральный федеральный округ
        td 11,1
        td 88,1
  //end table

  //begin table
  table.table
    caption Коеффициент смертности 2010 г.
    thead
      tr
        td Регион
        td Число умерших на 1 тыс. населения
        td Соотношение с РФ, %
    tbody
      tr
        td
          em РФ в целом
        td 12,6
        td -
      tr
        td
          em Центральный федеральный округ
        td 11,1
        td 88,1
  //end table

  //begin table
  table.table
    caption Динамика миграционного прироста, тыс. чел.
    thead
      tr
        td Регион
        td 2004 г.
        td 2005 г.
        td 2006 г.
        td 2007 г.
        td 2008 г.
        td 2009 г.
        td 2010 г.
    tbody
      tr
        td
          em РФ в целом
        td 39,37
        td 107,43
        td 22,4
        td 134,55
        td 133,4
        td 123,6
        td 112,2
      tr
        td
          em Центральный федеральный округ
        td 39,37
        td 107,43
        td 22,4
        td 134,55
        td 133,4
        td 145,55
        td 167,8
  //end table

  //begin table
  table.table
    caption Коеффициент демографической нагрузки, единиц*
    thead
      tr
        td Регион
        td 2009 г.
        td Место в РФ
    tbody
      tr
        td
          em РФ в целом
        td 606,0
        td -
      tr
        td
          em Центральный федеральный округ
        td 624,0
        td 1
  //end table

  p.meta
    | * На 1000 человек трудоспособного возраста приходится лиц нетрудоспособных возрастов, всего
  hr.has-margin