extends layouts/_layout

block title
  title GFI News

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Главный федеральный инспектор
      li
        a(href="#")
          | Округ
      li.is-active
        a(href="#")
          | Новости
      li
        a(href="#")
          | Контакты
  //end nav-inner

  .l-two-col
    .col-one
      //begin entry
      .entry
        h2.entry__title
          a(href="#")
            | Рабочая встреча губернатора Рязанской области Олега
            | Ковалева с руководителями станкостроительных организаций
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.

          | В работе приняли участие первые заместители председателя
          | правительства Рязанской области Сергей Самохин и Олег Булеков,
          | министр промышленности, инновационных и информационных
          | технологий региона Михаил Пронин, руководители организаций,
          | реализующих проекты в сфере станкостроения.

          | В ходе рабочей встречи обсуждались вопросы, касающиеся
          | восстановления Рязанского станкостроительного завода.
          | Инвестиционный проект реализуется с участием
          | ООО «Группа «СТАН», которое в настоящее время объединяет
          | несколько крупных отраслевых предприятий. Обращаясь к
          | участникам встречи, губернатор Рязанской области Олег
          | Ковалев отметил особую значимость проекта по возобновлению
          | деятельности завода.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry
      //begin entry
      .entry
        h2.entry__title
          a(href="#")
            | Губернатор Олег Ковалев: «В Рязанской области ни
            | одно учреждение здравоохранения не будет закрыто»
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.

          | В работе приняли участие первые заместители председателя
          | правительства Рязанской области Сергей Самохин и Олег Булеков,
          | министр промышленности, инновационных и информационных
          | технологий региона Михаил Пронин, руководители организаций,
          | реализующих проекты в сфере станкостроения.

          | В ходе рабочей встречи обсуждались вопросы, касающиеся
          | восстановления Рязанского станкостроительного завода.
          | Инвестиционный проект реализуется с участием
          | ООО «Группа «СТАН», которое в настоящее время объединяет
          | несколько крупных отраслевых предприятий. Обращаясь к
          | участникам встречи, губернатор Рязанской области Олег
          | Ковалев отметил особую значимость проекта по возобновлению
          | деятельности завода.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry
      //begin entry
      .entry
        h2.entry__title
          a(href="#")
            | Рабочая встреча губернатора Рязанской области Олега
            | Ковалева с руководителями станкостроительных организаций
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        p.entry__text
          | Губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry
      //begin entry
      .entry
        h2.entry__title
          a(href="#")
            | Губернатор Олег Ковалев: «В Рязанской области ни
            | одно учреждение здравоохранения не будет закрыто»
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | В ходе рабочей встречи обсуждались вопросы, касающиеся
          | восстановления Рязанского станкостроительного завода.
          | Инвестиционный проект реализуется с участием
          | ООО «Группа «СТАН», которое в настоящее время объединяет
          | несколько крупных отраслевых предприятий. Обращаясь к
          | участникам встречи, губернатор Рязанской области Олег
          | Ковалев отметил особую значимость проекта по возобновлению
          | деятельности завода.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry

    .col-two
      //begin accordion
      ul.accordion.accordion_aside
        li.accordion__section
          a(href="#").accordion__header.is-link
              | Все новости
        li.accordion__section
          .accordion__header
            strong
              | Федеральные
          .accordion__content
            ul.aside-links-blocks
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
        li.accordion__section
          .accordion__header
            strong
              | Региональные
          .accordion__content
            ul.aside-links-blocks
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
      //end accordion

