extends layouts/_layout

block title
  title Gfi List

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Авторитетное <br> мнение
      li
        a(href="#")
          | Основные <br> сведения
      li
        a(href="#")
          | Социально-<br>экономическая <br> деятельность
      li
        a(href="#")
          | Демографическая <br> политка
      li
        a(href="#")
          | Регионы <br> ЦФО
      li.is-active
        a(href="#")
          | Структура и <br> аппарат
      li
        a(href="#")
          | Инвестиционный <br> уполномоченный
      li
        a(href="#")
          | Совет Федерации <br> и Государственная <br> Дума
  //end nav-inner

  ul.breadcrumbs
    li
      a(href="#")
        | К структуре и аппарату

  h1.title.title_head
    | Главные федеральные инспекторы

  .l-two-col
    .col-one
      //begin table
      .table-wrap
        table.table.table_contacts
          thead
            tr
              td
              td ФИО и Должность
              td Телефон и часы приема
          tbody
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
            tr
              td
                img(src="img/flags/BEL.png")
              td
                .person.person_small
                  .person__pic
                    img(src="http://placehold.it/175x210")
                  dl.person__container
                    dt.person__name
                      a(href="#") Закоржевский <br>Александр Андреевич
                    dd.person__about
                      | Главный федеральный инспектор по Белгородской области
              td
                | (4733) 32-33-02 (приемная)
                span.meta
                  | C 9:00 до 18:00
      //end table
    .col-two
      //begin aside-list
      .aside-links
        .title
          | Дорожные карты
        hr.has-margin
        ul
          li
            a(href="#")
              | Здравохранение
          li
            a(href="#")
              | Культура
          li
            a(href="#")
              | ЖКХ
          li
            a(href="#")
              | Образование
          li
            a(href="#")
              | Пенсии
          li
            a(href="#")
              | Налоги и льготы
          li
            a(href="#")
              | Семья
          li
            a(href="#")
              | Дети
          li
            a(href="#").link-more
              | Далее
      //end aside-list
