extends layouts/_layout

block title
  title Demographics

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Главный федеральный инспектор
      li
        a(href="#")
          | Округ
      li
        a(href="#")
          | Новости
      li.is-active
        a(href="#")
          | Контакты
  //end nav-inner

  h1.title.title_head
    | Контактная информация

  //begin table
  .table-wrap
    table.table.table_contacts
      thead
        tr
          td
          td ФИО и Должность
          td Телефон и часы приема
          td Электронная почта
      tbody
        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Бочаров <br>Андрей Иванович
                dd.person__about
                  | Главный федеральный инспектор по Брянской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            p
              a(href="mailto:vicegov2@bryanskobl.ru") post@avo.ru
            p
              a(href="mailto:vicegov2@bryanskobl.ru") dsv@avp.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Бочаров <br>Андрей Иванович
                dd.person__about
                  | Главный федеральный инспектор по Брянской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            p
              a(href="mailto:vicegov2@bryanskobl.ru") post@avo.ru
            p
              a(href="mailto:vicegov2@bryanskobl.ru") dsv@avp.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Бочаров <br>Андрей Иванович
                dd.person__about
                  | Главный федеральный инспектор по Брянской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            p
              a(href="mailto:vicegov2@bryanskobl.ru") post@avo.ru
            p
              a(href="mailto:vicegov2@bryanskobl.ru") dsv@avp.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru

        tr
          td
            img(src="img/flags/BEL.png")
          td
            .person.person_small
              .person__pic
                img(src="http://placehold.it/175x210")
              dl.person__container
                dt.person__name
                  a(href="#") Закоржевский <br>Александр Андреевич
                dd.person__about
                  | Главный федеральный инспектор по Белгородской области
          td
            | (4733) 32-33-02 (приемная)
            span.meta
              | C 9:00 до 18:00
          td
            a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru
  //end table

  //- //begin contacts
  //- .contacts
  //-   .contacts__row.contacts__header
  //-     .contacts__cell
  //-     .contacts__cell
  //-       | ФИО и Должность
  //-     .contacts__cell
  //-       | Телефон и часы приема
  //-     .contacts__cell
  //-       | Электронная почта

  //-   .contacts__row
  //-     .contacts__cell
  //-       img(src="img/flags/BEL.png")

  //-     .contacts__cell
  //-       .person.person_small
  //-         .person__pic
  //-           img(src="http://placehold.it/175x210")
  //-         dl.person__container
  //-           dt.person__name
  //-             a(href="#") Закоржевский <br>Александр Андреевич
  //-           dd.person__about
  //-             | Главный федеральный инспектор по Белгородской области

  //-     .contacts__cell
  //-       | (4733) 32-33-02 (приемная)
  //-       span.meta
  //-         | C 9:00 до 18:00

  //-     .contacts__cell
  //-       a(href="mailto:vicegov2@bryanskobl.ru") vicegov2@bryanskobl.ru
  //- //end contacts