extends layouts/_layout

block title
  title Gfi

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li.is-active
        a(href="#")
          | Главный федеральный инспектор
      li
        a(href="#")
          | Округ
      li
        a(href="#")
          | Новости
      li
        a(href="#")
          | Контакты
  //end nav-inner

  h1.title.title_head
    | Главный федеральный инспектор

  //begin bio
  .bio
    .bio__left
      .person.person_bio
        .person__pic
          img(src="http://placehold.it/175x210")
        dl.person__container
          dt.person__name
            | Александр Александрович Савин
          dd.person__about
            | Главный федеральный инспектор по Калужской области
            | аппарата полномочного представителя Президента Российской
            | Федерации в Центральном федеральном округе.
            span.meta
              | Назначен на должность 23 мая 2012 года указом
              | Президента России
    .bio__right
      h2.title
        | Биография

      p
        |  Родился 22 сентября 1963 г.
      p
        | Окончил Высшее пограничное военно-политическое
        | Краснознаменное училище КГБ СССР имени
        | К.Е. Ворошилова, Военную академию имени М.В. Фрунзе.
      p
        | Служил в Прибалтийском, Среднеазиатском,
        | Тихоокеанском пограничных округах на должностях
        | начальника погранзаставы, начальника штаба
        | погранотряда, начальника погранотряда, заместителя
        | начальника пограничного управления ФСБ России.
      p
        | С июля 2009 года по август 2013 года возглавлял
        | Пограничное управление ФСБ России по Брянской области.
      p
        | С 22 августа 2013 года занимает должность
        | главного федерального инспектора по Брянской
        | области аппарата полномочного представителя
        | Президента Российской Федерации в Центральном
        | федеральном округе.
      p
        | Участник боевых действий в Афганистане.
      p
        | Воинское звание – генерал-майор запаса.
      p
        | Награжден государственными и ведомственными наградами.

      hr.has-margin

      table.bio__dates
        tr
          td
            | В 1982–1995 гг.
          td
            | Правоохранительная служба в органах внутренних дел.
        tr
          td
            | В 1995–2003 гг.
          td
            | Правоохранительная служба в органах налоговой
            | полиции, в июне 2002 г. назначен на должность
            | начальника Управления Федеральной службы налоговой
            | полиции по Воронежской области.
        tr
          td
            | В 2003–2012 гг.
          td
            | Начальник Управления ФСКН России по Воронежской области.
        tr
          td
            | С января 2012 г. по н/вр
          td
            | Главный федеральный инспектор по Воронежской области
            | аппарата полномочного представителя Президента
            | Российской Федерации в Центральном федеральном округе.
  //end bio

