extends layouts/_layout

block title
  title Index

block main
  ol.index-page-list
    each page in ['main','sights','private-cabinet','acts','apparatus','authority-opinion','invest','invest-form','cfo-regions','social-economy','cfo','demographics','gfi-contacts','gfi-gfi','gfi-list','gfi-news','gfi','search-results','letter-rules', 'letter', 'material','narod-add','narod']
      li
        a(href=page + '.html')=page

  style
    | .index-page-list {list-style-type: decimal; font-size: 20px; color: #333; margin: 100px 0; font: 18/1 Helvetica, Arial; padding-left: 40px};
    | .index-page-list li {margin-top: 10px};
    | .index-page-list li a {color: inherit};
