extends layouts/_layout

block title
  title Inner Page

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | субъекты рф в <br> цфо
      li
        a(href="#")
          | авторитетное <br> мнение
      li.is-active
        a(href="#")
          | основные <br> сведения
      li
        a(href="#")
          | социально-экономическая <br> деятельность
      li
        a(href="#")
          | инвестиционный <br> уполномоченный
      li
        a(href="#")
          | совет федерации <br> и государственная дума фс рф
  //end nav-inner

  ul.breadcrumbs
    li
      a(href="#")
        | К области
    li
      a(href="#")
        | Достопримечательности

  //begin toparea
  .toparea
    .entry
      a(href="#").entry__pic
        img(src="http://placehold.it/670x395")
      h2.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23

    .entry
      a(href="#").entry__pic
        img(src="http://placehold.it/670x395")
      h2.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23

    .entry
      a(href="#").entry__pic
        img(src="http://placehold.it/670x395")
      h2.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23
  //end toparea

  //begin entries
  h1.title.title_head
    | Все достопримечательности

  .l-two-col
    .col-one
      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      button.btn.btn_light
        | Смотреть еще 10 достопримечательностей

    .col-two
      .input.input_background(style="margin-top:74px")
        label(for="name").input__label
          | Регион
        .select
          span.select__value
            | Выберите регион
          select(name="name")
            option(value="значение 1") значение 1
            option(value="значение 2") значение 2
            option(value="значение 3") значение 3
            option(value="значение 4") значение 4
            option(value="значение 5") значение 5
            option(value="значение 6") значение 6

      ul.checkbox-list
        li
          label.checkbox
            input(type="checkbox")
            span Архитектура
        li
          label.checkbox
            input(type="checkbox")
            span Заповедники
        li
          label.checkbox
            input(type="checkbox")
            span Водоемы
        li
          label.checkbox
            input(type="checkbox")
            span Парки
        li
          label.checkbox
            input(type="checkbox")
            span Храмы и монастыри
        li
          label.checkbox
            input(type="checkbox")
            span Усадьба
        li
          label.checkbox
            input(type="checkbox")
            span Археология
        li
          label.checkbox
            input(type="checkbox")
            span Музеи
        li
          label.checkbox
            input(type="checkbox")
            span Памятники
        li
          label.checkbox
            input(type="checkbox")
            span Маршруты
        li
          label.checkbox
            input(type="checkbox")
            span Культура малых городов

  //end entries
