extends layouts/_layout

block title
  title Inner Page

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | субъекты рф в <br> цфо
      li
        a(href="#")
          | авторитетное <br> мнение
      li.is-active
        a(href="#")
          | основные <br> сведения
      li
        a(href="#")
          | социально-экономическая <br> деятельность
      li
        a(href="#")
          | инвестиционный <br> уполномоченный
      li
        a(href="#")
          | совет федерации <br> и государственная дума фс рф
  //end nav-inner

  ul.breadcrumbs
    li
      a(href="#")
        | К области
    li
      a(href="#")
        | Достопримечательности

  //begin toparea
  .toparea
    .entry.entry_small
      a(href="#").entry__pic
        img(src="http://placehold.it/260x160")
      h3.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23

    .entry.entry_small
      a(href="#").entry__pic
        img(src="http://placehold.it/260x160")
      h3.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23

    .entry.entry_small
      a(href="#").entry__pic
        img(src="http://placehold.it/260x160")
      h3.entry__title
        a(href="#")
          | Свято-Усенский Кафедральный Собор
      p.entry__text
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
      span.meta
        | 22 января 2014 года, 09:41
      a(href="#").author
        .author__pic
          img(src="http://placehold.it/30x30")
        span.author__name
          | Анатолий Петров
      .rating
        .rating__star
        span
          | 23
  //end toparea
