extends layouts/_layout

block title
  title Invest

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Авторитетное <br> мнение
      li
        a(href="#")
          | Основные <br> сведения
      li
        a(href="#")
          | Социально-<br>экономическая <br> деятельность
      li
        a(href="#")
          | Демографическая <br> политка
      li
        a(href="#")
          | Регионы <br> ЦФО
      li
        a(href="#")
          | Структура и <br> аппарат
      li.is-active
        a(href="#")
          | Инвестиционный <br> уполномоченный
      li
        a(href="#")
          | Совет Федерации <br> и Государственная <br> Дума
  //end nav-inner

  h1.title.title_head
    | Инвестиционный уполномоченный

  .l-two-col
    .col-one
      //begin article
      article.article
        p.lead
          | В целях решения конкретных проблем и оказания содействия
          | хозяйствующим субъектам в реализации частных инвестиционных
          | проектов в соответствии с
          a(href="#")
            |  распоряжением Президента Российской  Федерации от 3 августа 2011 года № 535-рп
            | «Об инвестиционных уполномоченных в федеральных округах»
          |  инвестиционным уполномоченным в Центральном федеральном округе назначен заместитель полномочного
          | представителя Президента Российской Федерации в Центральном федеральном округе –

        .person.person_lead
          .person__pic
            img(src="http://placehold.it/175x210")
          dl.person__container
            dt.person__name
              a(href="#")
               | Атюкова Ольга Кузьминична
            dd.person__about
              | Назначена на должность 3 августа 2011 года указом Президента

        p.lead
          | Инвесторы могут направлять обращения на имя инвестиционного уполномоченного
          | любым удобным образом: официальным письмом по почте, факсу или электронному адресу (
          a(href="#") контактная информация здесь
          | ), а также через
          a(href="#")  электронную приемную инвестиционного уполномоченного.

        p
          b
            | Целями инвестиционного уполномоченного являются:

        ol
          li
            | создание благоприятного инвестиционного климата;
          li
            | содействие хозяйствующим субъектам в реализации частных
            | инвестиционных проектов, прежде всего в сфере взаимодействия
            | инвесторов с органами власти всех ветвей.

        ul
          li
            | создание благоприятного инвестиционного климата;
          li
            | содействие хозяйствующим субъектам в реализации частных
            | инвестиционных проектов, прежде всего в сфере взаимодействия
            | инвесторов с органами власти всех ветвей.

        p
          | В целях защиты прав инвесторов инвестиционный уполномоченный осуществляет
          | контроль за реализацией на территории города Москвы норм Федерального
          | закона от 12 декабря 2011 г. № 427-ФЗ «О внесении изменений в статьи 2 и 3
          | Федерального закона «О введении в действие Земельного кодекса Российской Федерации»
          | и отдельные законодательные акты Российской Федерации», предусматривающих расторжение
          | инвестиционных договоров.

        p
          | Возмещение затрат производится в соответствии с методикой определения
          | стоимости работ по проектированию, строительству (реконструкции) объекта
          | капитального строительства, которая будет применяться в целях подготовки
          | и принятия решений по вопросам возмещения инвесторам вышеуказанных затрат
          | (Постановление Правительства Москвы от 27 августа 2012 года № 433-ПП
          | «Об утверждении порядка взаимодействия органов исполнительной власти города
          | Москвы при рассмотрении вопросов о возмещении затрат, понесенных инвесторами
          |в рамках реализации инвестиционных проектов»

        p
          | В целях защиты прав инвесторов инвестиционный уполномоченный осуществляет
          | контроль за реализацией на территории города Москвы норм Федерального
          | закона от 12 декабря 2011 г. № 427-ФЗ «О внесении изменений в статьи 2 и 3
          | Федерального закона «О введении в действие Земельного кодекса Российской Федерации»
          | и отдельные законодательные акты Российской Федерации», предусматривающих расторжение
          | инвестиционных договоров.

        p
          | Возмещение затрат производится в соответствии с методикой определения
          | стоимости работ по проектированию, строительству (реконструкции) объекта
          | капитального строительства, которая будет применяться в целях подготовки
          | и принятия решений по вопросам возмещения инвесторам вышеуказанных затрат
          | (Постановление Правительства Москвы от 27 августа 2012 года № 433-ПП
          | «Об утверждении порядка взаимодействия органов исполнительной власти города
          | Москвы при рассмотрении вопросов о возмещении затрат, понесенных инвесторами
          |в рамках реализации инвестиционных проектов»

        em
          small
            | Возмещение затрат производится в соответствии с методикой определения
            | стоимости работ по проектированию, строительству (реконструкции) объекта
            | капитального строительства, которая будет применяться в целях подготовки
            | и принятия решений по вопросам возмещения инвесторам вышеуказанных затрат
            a(href="#")
              |  (Постановление Правительства Москвы от 27 августа 2012 года № 433-ПП)

        p
          big
            | Дополнительные документы
        p
          a(href="file.jpg").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 2 апреля 2011 г. № Пр-846
              | по осуществлению первоочередных мер, направленных на улучшение условий
              | инвестиционного климата в Российской Федерации.(jpg)

        p
          a(href="file.png").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011 г. № 2437
              | по итогам совещания с инвестиционными уполномоченными в
              | федеральных округах 2 августа 2011 г.(png)

        p
          a(href="file.rtf").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(rtf/default)

        p
          a(href="file.txt").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(txt/default)
        p
          a(href="file.doc").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(doc)
        p
          a(href="file.docx").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(docx)
        p
          a(href="file.pdf").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(pdf)
        p
          a(href="file.ppt").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(ppt)
        p
          a(href="file.pptx").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(pptx)
        p
          a(href="file.xls").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(xls)
        p
          a(href="file.xlsx").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(xlsx)
        p
          a(href="file.zip").file
            span
              | ПЕРЕЧЕНЬ ПОРУЧЕНИЙ Президента Российской Федерации от 21 августа 2011(zip)

      //end article

    .col-two
      //begin aside-links
      ul.aside-links
        li.is-active
          a(href="#")
            | Общая информация и документы
        li
          a(href="#")
            | Инвестиционные проекты
        li
          a(href="#")
            | Приемная инвестиционного уполномоченного
        li
          a(href="#")
            | Реестр обращений
        li
          a(href="#")
            | Контакты
      //end aside-links