extends layouts/_layout

block title
  title Letter Rules

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Отправить письмо
      li.is-active
        a(href="#")
          | Правила
      li
        a(href="#")
          | Ваши предложения
      li
        a(href="#")
          | Личный прием
      li
        a(href="#")
          | Приемная инвестиционного уполномоченного
  //end nav-inner

  h1.title.title_head
    | Отправить письмо полномочному представителю

  .text
    p.lead
       | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
       | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
       | optio odit atque, consequuntur voluptate.
       | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
       | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
       | optio odit atque, consequuntur voluptate.
       | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
       | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
       | optio odit atque, consequuntur voluptate.

    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.

    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
      | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
      | optio odit atque, consequuntur voluptate.

    hr.has-margin

    p
      em.red-color
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
        | iusto accusantium. Nisi maxime iure vitae fuga sint quidem quis
        | optio odit atque, consequuntur voluptate.
    p
      em.red-color
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        | Adipisci, possimus eligendi eaque, consequatur animi voluptatum

    p
      em.red-color
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        | Adipisci, possimus eligendi eaque, consequatur animi voluptatum
        | iusto accusa

    a(href="#").btn.btn_light
      | Отправить обращение


