extends layouts/_layout

block title
  title Narod

block main
  include includes/_header-user

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Новости
      li.is-active
        a(href="#")
          | Народные новости
      li
        a(href="#")
          | Онлайн-конференции
      li
        a(href="#")
          | Публикации в сми
      li
        a(href="#")
          | Видео
      li
        a(href="#")
          | Доклады
      li
        a(href="#")
          | Стенограммы
      li
        a(href="#")
          | Конкурсы
      li
        a(href="#")
          | Для сми
  //end nav-inner

  a(href="#").btn.btn_small.btn_float-right
    | Добавить новость

  h1.title.title_head
    | Народные новости
    .label
      | топ 5

  //begin toparea
  .toparea
    .toparea__lead
      .toparea__cell
        .entry
          a(href="#").entry__pic
            img(src="http://placehold.it/670x395")
          p.entry__text
            a(href="#")
              | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
              | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
          span.meta
            | 22 января 2014 года, 09:41
          a(href="#").author
            .author__pic
              img(src="http://placehold.it/30x30")
            span.author__name
              | Анатолий Петров
          .rating
            .rating__star
            span
              | 23
      .toparea__cell
        .entry
          a(href="#").entry__pic
            img(src="http://placehold.it/670x395")
          p.entry__text
            a(href="#")
              | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          span.meta
            | 22 января 2014 года, 09:41
          a(href="#").author
            .author__pic
              img(src="http://placehold.it/30x30")
            span.author__name
              | Анатолий Петров
          .rating
            .rating__star
            span
              | 23
    .toparea__cell
      .entry
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
    .toparea__cell
      .entry
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
    .toparea__cell
      .entry
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
  //end toparea

  //begin entries
  h1.title.title_head
    | Все достопримечательности

  .l-two-col
    .col-one
      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.

      .entry
        h2.entry__title
          a(href="#")
            | Свято-Усенский Кафедральный Собор
        span.meta
          | 22 января 2014 года, 09:41
        a(href="#").author
          .author__pic
            img(src="http://placehold.it/30x30")
          span.author__name
            | Анатолий Петров
        .rating
          .rating__star
          span
            | 23
        p.entry__text
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
          | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
        span.meta
          | Ключевые слова: <a href="#">защита детей,</a> <a href="#">государственная политика</a>

      button.btn.btn_light
        | Смотреть предыдущие события
    .col-two
      //begin accordion
      ul.accordion.accordion_aside
        li.accordion__section
          .accordion__header
            strong
              | Народные новости
          .accordion__content
            ul.aside-links-blocks
              li.is-active
                a(href="#")
                  | Самые свежие
              li
                a(href="#")
                  | По рейтингу
              li
                a(href="#")
                  | Только фото
        li.accordion__section
          .accordion__header
            strong
              | Региональные
          .accordion__content
            ul.aside-links-blocks
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
      //end accordion

  //end entries
