extends layouts/_layout

block title
  title Polpred

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li
        a(href="#")
          | Главный федеральный инспектор
      li
        a(href="#")
          | Округ
      li.is-active
        a(href="#")
          | Новости
      li
        a(href="#")
          | Контакты
  //end nav-inner

  h1.title.title_head
    | Обращения полномочного представителя

  .l-two-col
    .col-one
      //begin entry
      .entry.entry_accordion
        .accordion.accordion_opinion.accordion_entry
          .accordion__section
            .accordion__header
              h2.title-small
                span
                  | Жители могут участвовать в управлении городским имуществом через специальный портал
              span.meta
                | 22 января 2014 года, 09:41
            .opinion
              | 18 ноября губернатор Рязанской области Олег Ковалев провел
              | рабочую встречу с руководителями станкостроительных организаций
              | по вопросам восстановления деятельности Рязанского
              | станкостроительного завода.
            .accordion__content
              .opinion
                p
                  | В работе приняли участие первые заместители председателя
                  | правительства Рязанской области Сергей Самохин и Олег Булеков,
                  | министр промышленности, инновационных и информационных
                  | технологий региона Михаил Пронин, руководители организаций,
                  | реализующих проекты в сфере станкостроения.
                p
                  | В ходе рабочей встречи обсуждались вопросы, касающиеся
                  | восстановления Рязанского станкостроительного завода.
                  | Инвестиционный проект реализуется с участием
                  | ООО «Группа «СТАН», которое в настоящее время объединяет
                  | несколько крупных отраслевых предприятий. Обращаясь к
                  | участникам встречи, губернатор Рязанской области Олег
                  | Ковалев отметил особую зн
            span.meta
              | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry

      //begin entry
      .entry.entry_accordion
        .accordion.accordion_opinion.accordion_entry
          .accordion__section
            .accordion__header
              h2.title-small
                span
                  | Тамбовская область продемонстрировала работу по защите интресов детей
              span.meta
                | 22 января 2014 года, 09:41
              .entry__pic
                img(src="http://placehold.it/670x395")
            .opinion
              p
               | Клик по картинке расскрывает новость
            .accordion__content
              .opinion
                p
                  | В работе приняли участие первые заместители председателя
                  | правительства Рязанской области Сергей Самохин и Олег Булеков,
                  | министр промышленности, инновационных и информационных
                  | технологий региона Михаил Пронин, руководители организаций,
                  | реализующих проекты в сфере станкостроения.
                p
                  | В ходе рабочей встречи обсуждались вопросы, касающиеся
                  | восстановления Рязанского станкостроительного завода.
                  | Инвестиционный проект реализуется с участием
                  | ООО «Группа «СТАН», которое в настоящее время объединяет
                  | несколько крупных отраслевых предприятий. Обращаясь к
                  | участникам встречи, губернатор Рязанской области Олег
                  | Ковалев отметил особую зн
            span.meta
              | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry

      //begin entry
      .entry.entry_accordion
        .accordion.accordion_opinion.accordion_entry
          .accordion__section
            .accordion__header
              h2.title-small
                span
                  | Жители могут участвовать в управлении городским имуществом через специальный портал
              span.meta
                | 22 января 2014 года, 09:41
            .opinion
              .entry__pic
                img(src="http://placehold.it/670x395")
              p
                  | Клик по картинке ничего не выполняет
            .accordion__content
              .opinion
                p
                  | В работе приняли участие первые заместители председателя
                  | правительства Рязанской области Сергей Самохин и Олег Булеков,
                  | министр промышленности, инновационных и информационных
                  | технологий региона Михаил Пронин, руководители организаций,
                  | реализующих проекты в сфере станкостроения.
                p
                  | В ходе рабочей встречи обсуждались вопросы, касающиеся
                  | восстановления Рязанского станкостроительного завода.
                  | Инвестиционный проект реализуется с участием
                  | ООО «Группа «СТАН», которое в настоящее время объединяет
                  | несколько крупных отраслевых предприятий. Обращаясь к
                  | участникам встречи, губернатор Рязанской области Олег
                  | Ковалев отметил особую зн
            span.meta
              | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry

      //begin entry
      .entry.entry_accordion
        .accordion.accordion_opinion.accordion_entry
          .accordion__section
            .accordion__header
              h2.title-small
                span
                  | Жители могут участвовать в управлении городским имуществом через специальный портал
              span.meta
                | 22 января 2014 года, 09:41
            .opinion
              | 18 ноября губернатор Рязанской области Олег Ковалев провел
              | рабочую встречу с руководителями станкостроительных организаций
              | по вопросам восстановления деятельности Рязанского
              | станкостроительного завода.
            .accordion__content
              .opinion
                p
                  | В работе приняли участие первые заместители председателя
                  | правительства Рязанской области Сергей Самохин и Олег Булеков,
                  | министр промышленности, инновационных и информационных
                  | технологий региона Михаил Пронин, руководители организаций,
                  | реализующих проекты в сфере станкостроения.
                p
                  | В ходе рабочей встречи обсуждались вопросы, касающиеся
                  | восстановления Рязанского станкостроительного завода.
                  | Инвестиционный проект реализуется с участием
                  | ООО «Группа «СТАН», которое в настоящее время объединяет
                  | несколько крупных отраслевых предприятий. Обращаясь к
                  | участникам встречи, губернатор Рязанской области Олег
                  | Ковалев отметил особую зн
            span.meta
              | Ключевые слова: <a href="#">Тамбовская область,</a> <a href="#">защита детей,</a> <a href="#">государственная политика</a>
      //end entry

      button.btn.btn_light
        | Смотреть предыдущие события

    .col-two
      //begin aside-blue-links
      ul.aside-blue-links
        li.is-active
          a(href="#")
            | Все обращения
        li
          a(href="#")
            | Текстовые обращения
        li
          a(href="#")
            | Видео обращения
      //end aside-blue-links

      //begin accordion
      ul.accordion.accordion_aside
        li.accordion__section
          .accordion__header
            strong
              | Федеральные
          .accordion__content
            ul.aside-links-blocks
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
        li.accordion__section
          .accordion__header
            strong
              | Региональные
          .accordion__content
            ul.aside-links-blocks
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
              li
                a(href="#")
                  | Белгородская область
              li
                a(href="#")
                  | Брянская область
              li
                a(href="#")
                  | Владимирская область
              li
                a(href="#")
                  | Воронежская область
              li
                a(href="#")
                  | Ивановская область
              li
                a(href="#")
                  | Калужская область
              li
                a(href="#")
                  | Костромксая область
              li
                a(href="#")
                  | Орловская область
      //end accordion

