extend layouts/_layout

block title
  title Main Page

block main
  include includes/_header

  .wrap
    .slider-wrap
      //begin slider
      .slider
        .slider__list
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x360")
            .slider__slide-caption
              strong
                | Текст в одну строчку
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x360")
            .slider__slide-caption
              strong
                | Текст в одну строчку
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x360")
            .slider__slide-caption
              strong
                | Текст в одну строчку
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x360")
            .slider__slide-caption
              strong
                | Длинный текст в две строки. Длинный текст в две строки.
                | Длинный текст в две строки
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x360")
            .slider__slide-caption
              strong
                | Длинный текст в две строки. Длинный текст в две строки.
                | Длинный текст в две строки. Длинный текст в две строки.
          a(href="#").slider__slide
            .slider__slide-pic
              img(src="http://placehold.it/610x200")
            .slider__slide-caption
              strong
                | Текст в одну строчку
        .slider__nav
          .slider__prev
            i.icon.icon_arr-l
          .slider__next
            i.icon.icon_arr-r
      //end slider

    //begin speech
    .speech
      .title
        | Прямая речь
      .speech__pic
        img(src="img/face.jpg")
      blockquote
        a(href="#")
          | "Россияне, изменившие мир» — таким будет лейтмотив Форума будущих
          | интеллектуальных лидеров России. Верю, что его участники, одаренные
          | школьники,создадут новые импульсы для развития всего человечества
    //end speech

  //begin links
  ul.links
    li.float-left
      a(href="#")
        | Архив новостей
    li
      a(href="#")
        | Визиты
    li
      a(href="#")
        | Выступления
    li
      a(href="#")
        | Интервью
  //end links

  hr

  //begin teasers
  .l-three-col
    .col-one
      .teaser
        h3.title.has-border
          | Актуальные темы
        ul.list
          li
            a(href="#")
              |Выборы - 2014
          li
            a(href="#")
              |2014 - Год Культуры
          li
            a(href="#")
              |Празднование 700-летия со дня рождения преподобного Сергия Радонежского
          li
            a(href="#")
              |Импортозамещение продуктов питания в регионах Центральной России
          li
            a(href="#")
              |Помощь регионов Центральной России беженцам из Украины
          li
            a(href="#").link-more
              | Далее
    .col-two
      .teaser
        h3.title.has-border
          | На особом контроле
        ul.list
          li
            a(href="#")
              |Перечень поручений по реализации Посланий Президента РФ Федеральному Собранию
          li
            a(href="#")
              |Послание Президента Российской Федерации Федеральному Собранию
          li
            a(href="#")
              |Указы Президента Российской Федерации от 7 мая 2012 года
    .col-three
      .teaser.teaser_reference
        h3.title.has-border
          | Справочная
        h4.title-small
          | по темам
        ul.list
          li
            a(href="#")
              | Жизнь без барьеров
          li
            a(href="#")
              | Жилье
          li
            a(href="#")
              | ЖКХ
          li
            a(href="#")
              | Здоровье
          li
            a(href="#")
              | Молодежь
          li
            a(href="#")
              | Образование
          li
            a(href="#")
              | Пенсионеры
          li
            a(href="#")
              | Работа
          li
            a(href="#").link-more
              | Далее
        h4.title-small
          | по структуре
        ul.list
          li
            a(href="#")
              | Территориальные органы федеральных
              | органов исполнительной власти Российской Федерации
              | в субъектах РФ в ЦФО
  //end teasers

  hr

  //begin links
  ul.links.links_big
    li
      h2.title
        a(href="#")
          | Приемные Президента РФ
    li
      h2.title
        a(href="#")
          | Правопорядок и безопасность
    li
      h2.title
        a(href="#")
          | Аналитический обзор обращений граждан и организаций
  //end links

  hr

  include includes/_map

  include includes/_map-more

  //begin teasers
  .l-three-col
    .col-one
      .teaser
        h3.title.has-border
          | Значимые общественные проекты
        ul.list
          li
            a(href="#")
              | Всероссийский форум «Будущие
              | интеллектуальные лидеры России»-2014
          li
            a(href="#")
              | Проект по развитию молодежного
              | событийного туризма в Центральном
              | федеральном округе «Событие-2014»
          li
            a(href="#")
              | Премия ЦФО в области литературы и искусства
    .col-two
      .teaser
        h3.title.has-border
          | Публикации в СМИ
        ul.list
          li
            a(href="#")
              | Всё в кластерах
            span.meta
              | 28 октября 2014 года, 18:22
          li
            a(href="#")
              | В управлении труда и занятости населения Тамбовской области подвели итоги за 9 месяцев работы
            span.meta
              | 28 октября 2014 года, 18:17
          li
            a(href="#")
              | Хозяйства Тамбовской области засеяли озимыми рекордные 500 тыс га
            span.meta
              | 28 октября 2014 года, 18:16
          li
            a(href="#").link-more
              | Далее
    .col-three
      .poll
        h3.title.has-border
          | Опрос
        a(href="#").poll__archive
          | Архив опросов
        p.poll__question
          | По Вашему мнению, преподобный Сергий Радонежский
          | известен и дорог россиянам больше как:
        ul.poll__answers
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | один из самых почитаемых русских святых
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | объединитель русских земель, благословивший
                | русские войска на Куликовскую битву против Мамая
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | общественный деятель, внесший огромный вклад в
                | становление русской государственности
                | с центром в Москве
        button.btn.btn_light
          | Голосовать
        ul.poll__results
          li
            | один из самых почитаемых русских святых
            span.percent
              | 11%
          li
            | объединитель русских земель, благословивший
            | русские войска на Куликовскую битву против Мамая
            span.percent
              | 29%
          li
            | общественный деятель, внесший огромный вклад в
            | становление русской государственности
            | с центром в Москве
            spn.percent
              | 60%
  //end teasers

block other
  include includes/_popup-login.jade
