extends layouts/_layout

block title
  title Public

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li.is-active
        a(href="#")
          | Общественная палата ЦФО
      li
        a(href="#")
          | Общественные проеткы
      li
        a(href="#")
          | Аналитика
      li
        a(href="#")
          | Новости
      li
        a(href="#")
          | Мероприятия
      li
        a(href="#")
          | Молодежь
      li
        a(href="#")
          | Контакты
  //end nav-inner

  //begin wrap-three-border
  .wrap-three-border
    .l-two-col
      .col-one
        //begin toparea
        .toparea.toparea_two-el
          .toparea__cell
            .entry
              a(href="#").entry__pic
                img(src="http://placehold.it/670x395")
              p.entry__text
                a(href="#")
                  | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
                  | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
              span.meta
                | 22 января 2014 года, 09:41
          .toparea__cell
            .entry
              a(href="#").entry__pic
                img(src="http://placehold.it/670x395")
              .label
                | Важно
              p.entry__text
                a(href="#")
                  | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
                  | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
              span.meta
                | 22 января 2014 года, 09:41
        //begin entries
      .col-two
        ul.aside-blue-links
          li
            a(href="#")
              | Состав и структура
          li
            a(href="#")
              | Документы
          li
            a(href="#")
              | Региональные общественные палаты
          li
            a(href="#")
              | Медиа
          li
            a(href="#")
              | Контакты
  //end wrap-three-border

  //begin slider
  .slider.slider_speech
    .slider__list
      .slider__slide
        .speech.speech_slide
          .speech__pic
            img(src="img/face.jpg")
          blockquote
            a(href="#")
              | Мы должны сдклать все возможно для исполнения обязательств
              | государства перед детьми
          dl.person
            dt.person__name
              | Александр Дмитриевич Беглов
            dd.person__about
              | Полномочный представитель Президента Российской Федерации в ЦФО
      .slider__slide
        .speech.speech_slide
          .speech__pic
            img(src="img/face.jpg")
          blockquote
            a(href="#")
              | Мы должны сдклать все возможно для исполнения обязательств
              | государства перед детьми
          dl.person
            dt.person__name
              | Александр Дмитриевич Беглов
            dd.person__about
              | Полномочный представитель Президента Российской Федерации в ЦФО
      .slider__nav
        .slider__prev
        .slider__next
  //end slider

  h1.title.title_head
    | Актуальные темы

  hr

  //begin teasers
  .l-three-col
    .col-one
      .teaser
        ul.list
          li
            a(href="#")
              | В управлении труда и занятости населения Тамбовской области подвели итоги за 9 месяцев работы
              | В управлении труда и занятости населения Тамбовской области подвели итоги за 9 месяцев работы
            span.meta
              | 28 октября 2014 года, 18:17
          li
            a(href="#")
              | Всё в кластерах
            span.meta
              | 28 октября 2014 года, 18:22
          li
            a(href="#")
              | Хозяйства Тамбовской области засеяли озимыми рекордные 500 тыс га
              | Хозяйства Тамбовской области засеяли озимыми рекордные 500 тыс га
            span.meta
              | 28 октября 2014 года, 18:16
    .col-two
      .teaser
        ul.list
          li
            a(href="#")
              | Всё в кластерах
            span.meta
              | 28 октября 2014 года, 18:22
          li
            a(href="#")
              | В управлении труда и занятости населения Тамбовской области подвели итоги за 9 месяцев работы
              | В управлении труда и занятости населения Тамбовской области подвели итоги за 9 месяцев работы
            span.meta
              | 28 октября 2014 года, 18:17
          li
            a(href="#")
              | Хозяйства Тамбовской области засеяли озимыми рекордные 500 тыс га
              | Хозяйства Тамбовской области засеяли озимыми рекордные 500 тыс га
            span.meta
              | 28 октября 2014 года, 18:16
    .col-three
      .poll
        h3.title.has-border
          | Опрос
        a(href="#").poll__archive
          | Архив опросов
        p.poll__question
          | Какой тз социальных проектов в сфере
          | образования Вам больше понравился?
        ul.poll__answers
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | Образлвательные кредиты
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | Талантливая молодежь
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | Классное руководство
          li
            label.radio-btn
              input(type="radio", name="poll")
              span
                | Школьное питание
        button.btn.btn_light
          | Голосовать
  //end teasers

  hr.has-margin

  include includes/_map-more
