extends layouts/_layout

block title
  title Road Maps

block main
  include includes/_header-border

  h1.title.title_head
    | На контроле полномочного представителя Президента Российской Федерации
    | в Центральном федеральном округе

  .l-two-col
    .col-one
      //begin article
      article.article
        p.lead
          | Пожалуйста, прежде чем отправить обращение в адрес инвестиционного
          | уполномоченного в Центральном федеральном округе в электронном виде,
          | внимательно ознакомьтесь со следующей информацией.

        p.lead
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        strong
            | В том случае, если Вы обнаружили неоправданно резкий рост цен
            | на лекарственные препараты, сообщите об этом, заполнив форму обращения.

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        strong
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          mark
            | В том случае, если Вы обнаружили неоправданно резкий рост цен
            | на лекарственные препараты, сообщите об этом, заполнив форму обращения.


        a(href="#").btn
          | Заполнить форму и отправить обращение
      //end article

    .col-two
      //begin aside-links
      ul.aside-links
        li.is-active
          a(href="#") Горюче-смазочные материалы
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
      //end aside-links

  p.lead.has-margin
    | Сводная информация по разработке и принятию субъектами
    | Российской Федерации региональных законов и создании дорожных
    | фондов субъектов Российской Федерации
  //begin regions-list
  .regions-list.regions-list_mod
    ul
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
          .map__region-more.text
            p
              | Закон Московской области 28 октября 2011 года №180/2011-03
              | «О дорожном фонде Москойвской области»
            p
              a(href="#")
                | gudh.mosreg.ru/dor_fond
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область

    ul
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область

    ul
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
      li
        .map__region
          .map__region-flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
  //end regions-list