extends layouts/_layout

block title
  title Search Results

block main
  include includes/_header-border

  .title-small.title-small_results
    | Результаты поиска по запросу <mark>“Инвестиционный уполномоченный“</mark> (74)
  //begin filters
  ul.filters
    li
      .input
        label(for="name").input__label
          | Типы новостей
        .select
          span.select__value
            | Все новости
          select(name="name")
            option(value="value1") Все новости
            option(value="value2") Не все
            option(value="value3") Ой все!
    li
      .input
        label(for="name").input__label
          | Субъект ЦФО
        .select
          span.select__value
            | Все субъекты
          select(name="name")
            option(value="value1") Все новости
            option(value="value2") Не все
            option(value="value3") Ой все!
    li
      .input
        label(for="name").input__label
          | По дате
        .select
          span.select__value
            | За последний год
          select(name="name")
            option(value="value1") Все новости
            option(value="value2") Не все
            option(value="value3") Ой все!
    li
      .input
        label(for="name").input__label
          | По типу документов
        .select
          span.select__value
            | Все
          select(name="name")
            option(value="value1") Все новости
            option(value="value2") Не все
            option(value="value3") Ой все!
  //end filters

  //begin results
  .results
    .results__main
      //begin results__list
      ul.results__list
        li.results__item
          .results__item-figure
            a(href="#")
              img(src="http://placehold.it/125x75")

          h3.title-small
            a(href="#")
             | <mark>Инвестиционный уполномоченный</mark> Ольга Атюкова провела
             | заседание Комиссии по улучшению инвестиционного климата
             | в Центральном федеральном округе
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          h3.title-small
            a(href="#")
             | ГФИ по Тверской области Юрий Стрелецкий и <mark>уполномоченный</mark>
             | по защите прав предпринимателей в регионе
             | Антон Стамплевский подписали соглашение о взаимодействии
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          h3.title-small
            a(href="#")
             | Глава региона провел заседание областного совета
             | по улучшению <mark>инвестиционного</mark> климата и взаимодействию
             | с инвесторами в Курской области
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          .results__item-figure
            a(href="#")
              img(src="http://placehold.it/125x75")
          h3.title-small
            a(href="#")
             | <mark>Уполномоченный</mark> по правам ребенка в Калужской
             | области посетила следственный изолятор №1 г.Калуги
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          h3.title-small
            a(href="#")
             | <mark>Инвестиционный уполномоченный</mark> Ольга Атюкова провела
             | заседание Комиссии по улучшению инвестиционного климата
             | в Центральном федеральном округе
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          .results__item-figure
            a(href="#")
              img(src="http://placehold.it/125x75")
          h3.title-small
            a(href="#")
             | ГФИ по Тверской области Юрий Стрелецкий и <mark>уполномоченный</mark>
             | по защите прав предпринимателей в регионе
             | Антон Стамплевский подписали соглашение о взаимодействии
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          h3.title-small
            a(href="#")
             | Глава региона провел заседание областного совета
             | по улучшению <mark>инвестиционного</mark> климата и взаимодействию
             | с инвесторами в Курской области
          span.meta
            | 13 апреля 2012 года, 16:40

        li.results__item
          h3.title-small
            a(href="#")
             | <mark>Уполномоченный</mark> по правам ребенка в Калужской
             | области посетила следственный изолятор №1 г.Калуги
          span.meta
            | 13 апреля 2012 года, 16:40
      //end results__list
      //begin pagi
      .pagi
        .pagi__text
          span
            | Поиск осуществлен с использованием Яndex.Server

        a(href="#").pagi__arrow-prev.is-inactive

        ul.pagi__list
          li.is-active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4

        a(href="#").pagi__arrow-next

      //end pagi

    .results__right
      .title
        | Теги
      hr.has-margin

      ul
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
        li
          a(href="#") Здравохранение
        li
          a(href="#") Культура
        li
          a(href="#") Пенсии
        li
          a(href="#") Образование
        li
          a(href="#") Налоги и льготы
        li
          a(href="#") Дети
        li
          a(href="#") Семья
  //end results
