extends layouts/_layout

block title
  title Sovet

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li.is-active
        a(href="#")
          | Совещательные органы при Президенте РФ
      li
        a(href="#")
          | Советы
      li
        a(href="#")
          | Комисси и колегии
      li
        a(href="#")
          | Рабочие группы
  //end nav-inner

  h1.title.title_head
    | Совет при Президенте РФ по делам казачества
    br
    | Состав совета

  .l-two-col
    .col-one
      //begin article
      span.meta
        | 22 января 2012 года, 15:32

      article.article
        p.lead
          | Пожалуйста, прежде чем отправить обращение в адрес инвестиционного
          | уполномоченного в Центральном федеральном округе в электронном виде,
          | внимательно ознакомьтесь со следующей информацией.

        .person.person_small.person_mod
          .person__pic
            img(src="http://placehold.it/175x210")
          dl.person__container
            dt.person__name
              a(href="#")
                b Беглов А.Д.
            dd.person__about
              | - полномочный представитель Президента Российской Федерации
              | в Центральном федеральном округе;
        hr

        p
          a(href="#") Рогозин Д.О.
          |  - полномочный представитель Президента Российской Федерации
          | в Центральном федеральном округе;
        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | В том случае, если Вы обнаружили неоправданно резкий рост цен
          | на лекарственные препараты, сообщите об этом, заполнив форму обращения.

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме

        p
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
          | К инвестиционному уполномоченному может обратиться каждый заинтересованный
          | представитель хозяйствующего субъекта с информацией о нарушении его прав органами
          | государственной власти при реализации инвестиционного проекта, а также с предложениями
          | об улучшении инвестиционного климата в субъектах Российской Федерации, входящих в состав
          | Центрального федерального округа. Размер электронного обращения не может
          | превышать 2 тысячи знаков.
          | Обращение может содержать вложенные документы и материалы в электронной форме
      //end article

    .col-two
      //begin accordion
      ul.accordion.accordion_aside
        li.accordion__section.is-active
          .accordion__header
            | Совет при Президенте РФ по делам казачества
          .accordion__content(style="display:block")
            ul.aside-links-blocks
              li
                a(href="#")
                  | Новости Совета
              li
                a(href="#")
                  | Положение о Совете
              li.is-active
                a(href="#")
                  | Состав Совета
      //end accordion
      //begin aside-blue-links
      ul.aside-blue-links
        li
          a(href="#")
            | Рабочая группа при Президенте РФ по подготовке к празднованию
            | 700-летия со дня рождния преподобного Сергия Радонежского
        li
          a(href="#")
            | Рабочая группа при Президенте РФ по подготовке к празднованию
            | 700-летия со дня рождния преподобного Сергия Радонежского
        li
          a(href="#")
            | Рабочая группа при Президенте РФ по подготовке к празднованию
            | 700-летия со дня рождния преподобного Сергия Радонежского
      //end aside-blue-links

  hr.has-margin