extends layouts/_layout

block title
  title Sovets

block main
  include includes/_header

  //begin nav-inner
  .nav-inner
    ul.nav-inner__links
      li.is-active
        a(href="#")
          | Совещательные органы при Президенте РФ
      li
        a(href="#")
          | Советы
      li
        a(href="#")
          | Комисси и колегии
      li
        a(href="#")
          | Рабочие группы
  //end nav-inner

  h1.title.title_head
    | Совещательные органы при Президенте Российской Федерации

  //begin entries
  .entries.entries_mod
    .wrap
      .entry
        h2.entry__title
          a(href="#")
            | Совет при Президенте РФ по делам казачаства
        span.meta
          | Образован: 22 января 2014 года, 09:41
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.
          | В работе приняли участие первые заместители председателя
          | правительства Рязанской области Сергей Самохин и Олег Булеков.

      .entry
        h2.entry__title
          a(href="#")
            | Рабочая группа при Президенте РФ по подготовке к празднованию
            | 700-летия со дня рождения преподобного Сергия Радонежского
        span.meta
          | Образован: 22 января 2014 года, 09:41
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.
          | В работе приняли участие первые заместители председателя
          | правительства Рязанской области Сергей Самохин и Олег Булеков.

      .entry
        h2.entry__title
          a(href="#")
            | Рабочая группа при Президенте РФ по вопросам восстановления
            | объектов культурного наследия религиозного назначения,
            | иных культурных зданий и сооружений
        span.meta
          | Образован: 22 января 2014 года, 09:41
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | правительства Рязанской области Сергей Самохин и Олег Булеков.

      .entry
        h2.entry__title
          a(href="#")
            | Рабочая группа при Президенте РФ по подготовке к празднованию
            | 1000-летия присутствия русских на Святой горе Афон
        span.meta
          | Образован: 22 января 2014 года, 09:41
        p.entry__text
          | 18 ноября губернатор Рязанской области Олег Ковалев провел
          | рабочую встречу с руководителями станкостроительных организаций
          | по вопросам восстановления деятельности Рязанского
          | станкостроительного завода.
          | В работе приняли участие первые заместители председателя
          | правительства Рязанской области Сергей Самохин и Олег Булеков.
  //end entries

  .title.title_head.title_with-link
    h2 Новости
    a(href="#") Архив новостей

  //begin toparea
  .toparea
    .toparea__cell
      .entry
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41

    .toparea__cell
      .entry
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
          span.label
            | Важно
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41

    .toparea__cell
      .entry
        a(href="#").entry__pic
          img(src="http://placehold.it/670x395")
        p.entry__text
          a(href="#")
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского.
            | Более 70 тысяч человек побывали на праздновании юбилея Сергия Радонежского
        span.meta
          | 22 января 2014 года, 09:41
  //end toparea