//begin carousel
.carousel
  ul.carousel__slides
    li
      a(href="#")
        img(src="http://placehold.it/66x66")
        span
          | Президент России
    li
      a(href="#")
        img(src="http://placehold.it/50x50")
        span
          | Правительство России
    li
      a(href="#")
        img(src="http://placehold.it/80x80")
        span
          | Президент России
    li
      a(href="#")
        img(src="http://placehold.it/30x50")
        span
          | Правительство России
    li
      a(href="#")
        img(src="http://placehold.it/80x50")
        span
          | Портал государственных услуг
    li
      a(href="#")
        img(src="http://placehold.it/66x66")
        span
          | Президент России
    li
      a(href="#")
        img(src="http://placehold.it/50x50")
        span
          | Правительство России
    li
      a(href="#")
        img(src="http://placehold.it/80x80")
        span
          | Президент России
    li
      a(href="#")
        img(src="http://placehold.it/30x50")
        span
          | Правительство России
    li
      a(href="#")
        img(src="http://placehold.it/80x50")
        span
          | Портал государственных услуг
  .carousel__prev
  .carousel__next
//end carousel