//begin nav
.nav.nav_footer
  .l
    a(href="index.html").nav__logo

    .nav__slide
      .nav__icons
        a(href="#")
          | Карта сайта

      //begin nav__links
      nav.nav__links
        ul.menu-flex
          li.is-active
            a(href="#")
              | На главную
          li
            a(href="#")
              | ЦФО
          li
            a(href="#")
              | Полномочный представитель
          li
            a(href="#")
              | ГФИ
          li
            a(href="#")
              | Документы
          li
            a(href="#")
              | Совещательные органы
          li
            a(href="#")
              | Общество
          li
            a(href="#")
              | Пресс-центр
      //end nav__links
//end nav