include _footer-nav
//begin footer
footer.footer
  .l
    .wrap
      .float-left
        | © Полномочный представитель Президента Российской Федерации в Центральном федеральном округе
      .float-right
        | 2014
//end footer