//begin header
header.header
    .header__flag
    h1.title
      | Центральный федеральный округ

    .header__links
      a(href="#")
        i.icon.icon_mail-red
        | Отправить обращение

    a(href="#").header__calendar
      i.icon.icon_calendar-blue
      span
        | Дата
//end header
