//begin header
header.header.header_border.header_user
    .header__flag
    .title
      | Центральный федеральный округ

    .header__links
      a(href="#")
        i.icon.icon_mail-red
        | Отправить обращение

    a(href="#").header__calendar
      i.icon.icon_calendar-blue
      span
        | Дата

    a(href="#").header__user-pic
      img(src="http://placehold.it/60x60/f7f7f7&text=userpic")
//end header
