//begin map
.map
  header.map__header
    h4.title
      | На карте
    ul.map__tabs
      li
        a(href="#")
          | Информация
      li.is-active
        a(href="#")
          | Новости
      li
        a(href="#")
          | События
      li
        a(href="#")
          | Достопримечательности
  .map__container
    .map__container-left
      .map__object
        include _map-svg.html

    .map__container-right
      ul
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Белгородская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Брянская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Владимирская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Воронежская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Ивановская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Калужская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Костромская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Курская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Липецкая область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Москва
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Московская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Орловская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Рязанская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Смоленская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Тамбовская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Тверская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Тульская область
        li.region
          .region__flag(style="background-image: url(img/flags/BEL.png)")
          | Ярославская область
//end map