//begin nav
.nav
  .l
    a(href="index.html").nav__logo
    .nav__slide
      //begin nav__search
      .nav__search
        span.nav__search-close
          | Закрыть поиск
        .search-field
          input(type="search", placeholder="Поиск по сайту")
          button
      //end nav__search

      .nav__icons
        a(href="#").icon.icon_search
        a(href="#").icon.icon_mail

      //begin nav__links
      nav.nav__links
        ul.menu-flex
          li.is-active
            a(href="/main.html")
              | На главную
          li
            a(href="/cfo.html")
              | ЦФО
          li
            a(href="/polpred.html")
              | Полномочный представитель
          li
            a(href="#")
              | ГФИ
          li
            a(href="#")
              | Документы
          li
            a(href="#")
              | Совещательные органы
          li
            a(href="#")
              | Общество
          li
            a(href="/press-center-video.html")
              | Пресс-центр
      //end nav__links
//end nav