doctype
html
  head
    include ../includes/_head

  body
    .out
      block top
        include ../includes/_top-nav

      block main

      block bottom

    block other

    script(src="js/lib/head.js" data-headjs-load="js/init.js")